{% extends 'pdfs/base.html' %}

{% block content %}
<style>
    table,
    th,
    td {
        border: 1px solid black;
        padding: 2px;
    }

    @page {
        size: letter landscape;
        margin: 8px;
    }
</style>
<section style="margin-top: 18px;">
    <h1 style="font-size: 18px; font-weight: medium;">Employee List</h1>
    <table style="margin-top: 12px;">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile Number</th>
            <th>Address</th>
            <th>Country</th>
            <th>Gender</th>
            <th>Designation</th>
            <th>Yacht</th>
            <th>Created At</th>
        </tr>
        {% for emp in emps %}
        <tr>
            <td>
                {{ emp.first_name }} {{ emp.last_name }}
            </td>
            <td>
                {{ emp.email }}
            </td>
            <td>
                {{ emp.mobile_number }}
            </td>
            <td>
                {{ emp.address }}
            </td>
            <td>
                {{ emp.country }}
            </td>
            <td>
                {{ emp.gender }}
            </td>
            <td>
                {{ emp.designation }}
            </td>
            <td>
                {{ emp.yacht.name }}
            </td>

            <td>{{ emp.created_at }}</td>
        </tr>
        {% endfor %}
    </table>
</section>
{% endblock %}