{% extends 'pdfs/base.html' %}

{% block content %}
<style>
  table, th, td {
    border: 1px solid black;
    padding: 2px;
  }
  @page {
    size: letter landscape;
    margin: 8px;
}
</style>
<section style="margin-top: 18px;">
    <h1 style="font-size: 18px; font-weight: medium;">Events Registration List</h1>
    <table style="margin-top: 12px;">
      <tr>
        <th>Member Name</th>
        <th>Email</th>
        <th>Event name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Registration date</th>
      </tr>
      {% for event_booking in event_bookings %}
      <tr>
        <td>{{ event_booking.member.first_name }} {{ event_booking.member.last_name }}</td>
        <td>{{ event_booking.member.email }}</td>
        <td>{{ event_booking.event.name }}</td>
        <td>{{ event_booking.start_date }}</td>
        <td>{{ event_booking.end_date }}</td>

        <td>{{ event_booking.created_at }}</td>
      </tr>
      {% endfor %}
    </table>
  </section>
{% endblock %}