{% extends "base.html" %} 



{% block content %}

<div class="bg-white">
    <div class="pt-6">
  
      <!-- Image gallery -->
      <div class="w-full min-h-120 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-120 lg:aspect-none">
        <img src="/media/{{ yacht.image }}" class="w-full h-full object-center object-cover lg:w-full lg:h-full" alt="">
      </div>
  
      <!-- Product info -->
      <div class="max-w-2xl mx-auto pt-10 pb-16 px-4 sm:px-6 lg:max-w-7xl lg:pt-16 lg:pb-24 lg:px-8 lg:grid lg:grid-cols-3 lg:grid-rows-[auto,auto,1fr] lg:gap-x-8">
        <div class="lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8">
          <h1 class="text-2xl font-extrabold tracking-tight text-gray-900 sm:text-3xl">
            {{ yacht.name }}
          </h1>
        </div>
  
        <!-- Options -->
        <div class="mt-4 lg:mt-0 lg:row-span-3">
          <h2 class="sr-only">Product information</h2>
          <p class="text-3xl text-gray-900">&#x20B9;{{ yacht.rate }}</p>
  
  
            <a href="" class="mt-10 w-full bg-indigo-600 border border-transparent rounded-md py-3 px-8 flex items-center justify-center text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Book now</a>
        </div>
  
        <div class="py-10 lg:pt-6 lg:pb-16 lg:col-start-1 lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8">
          <!-- Description and details -->
          <div>
            <h3 class="sr-only">Description</h3>
  
            <div class="space-y-6">
              <p class="text-base text-gray-900">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum nam possimus, ipsa exercitationem ut enim dolorem inventore autem nobis nulla assumenda provident fugit aliquid facilis atque aspernatur perferendis eaque! Ducimus ab placeat error natus, amet vel? Veniam nobis repellat veritatis voluptatibus tempora beatae, temporibus impedit numquam sapiente a eaque modi.</p>
            </div>
          </div>
          
          <div class="mt-10">
            <h2 class="text-sm font-medium text-gray-900">Yacht Type : {{ yacht.yacht_type.name }}</h2>
          </div>
          <div class="mt-4">
            <h3 class="text-sm font-medium text-gray-900">Capacity : {{ yacht.capacity }} Person</h3>
          </div>
  
        </div>
      </div>
    </div>
  </div>

{% endblock %}
